{% set page_asset = 'accueil' %}
{% extends 'base.html.twig' %}

{% block title %}Voyage Évasion - Accueil{% endblock %}

{% block body %}
<div class="side-text-left">
  <p>Europe</p>
  <p>Asie</p>
  <p>Amériques</p>
  <p>Afrique</p>
  <p>Îles</p>
</div>

<h1 class="EXPLORE">EXPLORE L'INVISIBLE</h1>
<h2 class="evasion">Voyage-Evasion</h2>

<main class="imageDeFond">
  <div class="destination-panache">
    <p>France</p>
    <p>Espagne</p>
    <p>Italie</p>
    <p>Japon</p>
    <p>Thaïlande</p>
    <p>Vietnam</p>
    <p>États-Unis</p>
    <p>Brésil</p>
    <p>Argentine</p>
    <p>Maroc</p>
    <p>Afrique du Sud</p>
    <p>Égypte</p>
    <p>Tahiti</p>
    <p>Maldives</p>
    <p>Réunion</p>
  </div>
</main>
{% endblock %}
