@import url(importation.css);
@keyframes translate{
  from{transform: translateX(-10vw)}
  to{transform: translateX(100vw)}
}
.avion{
  animation-name: translate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: normal;
  animation-timing-function: linear;
}


body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
    color: #333;
    background-image: url(../images/argentine.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
  }
  section {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    background-color: white;
  }
  
  section h2 {
    color: #4682B4;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  section p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #ffd700; 
    font-weight: bold;
    font-size: 1.1rem;
    color: #444;
  }
  nav {
    background-color: #74ACDF; 
  }
  
  nav a {
    color: white; 
    text-decoration: none;
    background-color: transparent; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav a:hover {
    background-color: #FFD700; 
    color: #A0522D;
  }
