@import url(importation.css);
@keyframes translate{
    from{transform: translateX(-10vw)}
    to{transform: translateX(100vw)}
}
.avion{
    animation-name: translate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: normal;
    animation-timing-function: linear;
}


body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.menu {
    background: radial-gradient(
        to right,
        white,
        red
    );
}
main {
    background-image: url(../images/BG_japon.jpg);
    background-size: cover;
    background-position: center;
    min-height: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 50px;
}
p ,h2 , h1 {
    color: #000;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    text-wrap: balance;
    margin: 20px 50px;
}
h2, h1 {
    font-size: 30px;
    color: black;
    margin: 20px 50px;
}
.dest1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: row;
}
.gallerie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 50px;
}
.gallerie img:hover {
    width: 400px;
    height: 250px;
    cursor: pointer;
    transition: 1s;
}
.Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 50px;
}
