{% set page_asset = 'pays/vietnam' %}
{% extends 'base.html.twig' %}

{% block title %}Vietnam - Voyage Évasion{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('styles/importation.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/vietnam.css') }}">
{% endblock %}

{% block body %}
<div class="grille">
  <div class="titre">
    <h1>Le Vietnam</h1>
    <p>
      Pays d'Asie du Sud-Est, frontalier de la Chine, du Laos et du Cambodge,
      le Vietnam, fort d'une histoire extrêmement marquante et de paysages enchanteurs,
      est prêt à vous faire voyager à travers les campagnes asiatiques.
    </p>
  </div>

  <div class="campagne">
    <h2>Les campagnes</h2>
    <p>
      Le Vietnam est un pays riche en paysages variés, allant des rizières en terrasses de Sapa
      aux plages de sable blanc de Phu Quoc. Les montagnes du Nord offrent des panoramas à couper
      le souffle, tandis que le delta du Mékong est un véritable labyrinthe de canaux et de rivières.
    </p>
  </div>

  <div class="culture">
    <h2>La culture</h2>
    <p>
      Le Vietnam est un pays riche en culture, avec une histoire fascinante et une cuisine délicieuse.
      La cuisine vietnamienne est célèbre pour ses plats savoureux, tels que le pho, le banh mi et les
      rouleaux de printemps. Le pays est également connu pour ses festivals colorés et ses traditions artisanales.
    </p>
  </div>

  <div class="gastronomie">
    <h2>La gastronomie</h2>
    <p>
      La gastronomie vietnamienne est un véritable régal pour les papilles.
      Les plats sont souvent préparés avec des ingrédients frais et locaux, tels que des herbes aromatiques,
      des légumes croquants et des fruits de mer. Le pho, une soupe de nouilles de riz,
      est l'un des plats les plus emblématiques du pays.
    </p>
  </div>
</div>
{% endblock %}
